.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 100px;
  background-color: #fff;
  padding: 16px;
}

.btn_delete {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-top: -30px;
  margin-right: -30px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 30px;
  background: #605f61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
}

.btn_delete:before {
  content: "×";
}
